In [1]:
import django
django.setup()
from tree.models import Tree, Node

import os
from django.contrib.auth.models import User
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

#python manage.py shell_plus --notebook

In [2]:
def update_row_index(node):
    row = findRow(node.number)
    return [row["h_index"], row["rowNumber"]]

In [3]:
def smaller_in_row(nodeNumber):
    if nodeNumber % 2 == 1:
        #all even numbers are considered smaller
        smaller_even_numbers = row["limits"]["even_limits"][0] / 2
        smaller_odd_numbers = ( nodeNumber - row["limits"]["odd_limits"][0] )/2
    else:
        smaller_even_numbers = (row["limits"]["even_limits"][1] - nodeNumber)/2
        smaller_odd_numbers = 0 
    smaller_numbers_sum = smaller_odd_numbers + smaller_even_numbers  

def getX(nodeNumber):
    if nodeNumber == 1:
        return 0.5
    row = findRow(nodeNumber)
    
    if nodeNumber % 2 == 1:
        #all even numbers are considered smaller
        smaller_even_numbers = row["limits"]["even_limits"][0] / 2
        smaller_odd_numbers = ( nodeNumber - row["limits"]["odd_limits"][0] )/2
    else:
        smaller_even_numbers = (row["limits"]["even_limits"][1] - nodeNumber)/2
        smaller_odd_numbers = 0 
    

        
  
    smaller_numbers_sum = smaller_odd_numbers + smaller_even_numbers        
    nodes_sum = row["limits"]["even_limits"][0]
    #fairCut = 1/ (nodes_sum + 2)
    fairCut = 1/ (nodes_sum)
    #fraction of all the smaller numbers which counts in the two borders as well
    #location = fairCut* (smaller_numbers_sum + 1) + fairCut/2
    location = fairCut* (smaller_numbers_sum) + fairCut/2
    return round(location, 5)  
def merge_blobs(blobs):
    #section.sort_index(inplace = True)
    fat_node = blob[0]
    last_node = blob[1]
    fat_node.grow_to = last_node.x
    fat_node.number = last_node.number
    return fat_node

def nodes_match(first, second):
    return second.name == first.name + 1

In [71]:
import pandas as pd
import numpy as np
import sys
from tree.utilities import findRow, getY
tree = Tree.objects.first()
nodes = tree.node_set.all().values_list()
from django.contrib.auth.models import User
users = User.objects.only("username","id").values()
comprehensiveUsers = {user["id"]:user["username"] for user in users}
nodeSet = pd.DataFrame.from_records(
    nodes, 
    columns = ["id","tree_id","childrenMissing","number","userName","child1","child1Value","child2","child2Value"],
    )
nodeSet["value"]= nodeSet["child1Value"] + nodeSet["child2Value"]
nodeSet.insert(1,"changed", False)
nodeSet.insert(1,"sold", False)

nodeSet[["h_index", "row"]] = nodeSet.apply(update_row_index, axis = 1,result_type='expand')
#nodeSet["userName"] = nodeSet["userName"].apply(lambda user: comprehensiveUsers[user])
nodeSet.sort_index(inplace = True)
#nodeSet 

low_rows = nodeSet[nodeSet.row > 5].copy()
nodeSet = nodeSet[nodeSet.row < 6]
low_rows.set_index(['row','h_index'], inplace = True)
low_rows.sort_index(inplace = True)
low_rows["grow_to"] = 0 # only needed in blobs
low_rows["x"]= low_rows.apply(lambda node: getX(node.number), axis = 1)
biggest_number = low_rows.iloc[-1].number
low_rows["y"]= low_rows.apply(lambda node: getY(node.number,biggest_number), axis = 1) #wasteful
blobs = []
for row_number in low_rows.index.get_level_values(0).unique():
    
    row = low_rows.loc[row_number]#.set_index("h_index").sort_index() #add iteration for all rows
    
    row.rowd = 6 #wtf



    #row = row.drop(range(10,20)) #remove before comitting

    from collections import deque
    iterator = row.iterrows()

    start = next(iterator)[1]
    finish = None
    previous = start
    deck = deque((start,),2)
    for index, node in iterator:
        deck.append((node))
        if not nodes_match(deck[0],deck[1]): ##deck[1].name == deck[0].name+1: 
            blobs.append((start, deck[0]))
            start = deck[1]
            #print(deck[0], "blob ends here")
    blobs.append((start, deck[1]))
#blobs[0][0]
blobSet = []
for blob in blobs:
    blobSet.append(merge_blobs(blob))
blobFrame = pd.DataFrame.from_records(
    blobSet
    )
blobFrame
#row

,id,sold,changed,tree_id,childrenMissing,number,userName,child1,child1Value,child2,child2Value,value,grow_to,x,y
0,79,False,False,1,48,127,4,254,7,252,7,14,0.99219,0.00781,0.666667
1,207,False,False,1,56,255,4,510,3,508,3,6,0.99609,0.00391,0.777778
2,463,False,False,1,60,511,4,1022,1,1020,1,2,0.99805,0.00195,0.888889
3,975,False,False,1,62,959,4,2046,0,2044,0,0,0.93652,0.00098,1.000000
4,996,False,False,1,62,999,4,1965,0,1967,0,0,0.97559,0.95996,1.000000

In [72]:
nodeSet.iloc[-1].parent

AttributeError: 'Series' object has no attribute 'parent'

In [40]:
 nodeSet[nodeSet.row > 5]

,id,sold,changed,tree_id,childrenMissing,number,userName,child1,child1Value,child2,child2Value,value,h_index,row
63,64,False,False,1,48,96,4,194,7,192,7,14,15,6
64,65,False,False,1,48,98,4,198,7,196,7,14,14,6
65,66,False,False,1,48,100,4,202,7,200,7,14,13,6
66,67,False,False,1,48,102,4,206,7,204,7,14,12,6
67,68,False,False,1,48,104,4,210,7,208,7,14,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,False,False,1,62,983,4,1965,0,1967,0,0,491,9
996,997,False,False,1,62,993,4,1985,0,1987,0,0,496,9
997,998,False,False,1,62,995,4,1989,0,1991,0,0,497,9
998,999,False,False,1,62,997,4,1993,0,1995,0,0,498,9
999,1000,False,False,1,62,999,4,1997,0,1999,0,0,499,9

In [94]:
rows = row.iterrows()

next(rows)[1].name

0

In [73]:
iterator = peekable(row.iterrows())
iterator.peek()

(0,
 id                    79
 sold               False
 changed            False
 tree_id                1
 childrenMissing       48
 number               126
 userName               4
 child1               254
 child1Value            7
 child2               252
 child2Value            7
 value                 14
 row                    6
 grow_to                0
 x                    0.5
 Name: 0, dtype: object)

In [53]:
iterator = row.iterrows()
next(iterator)[1].name

0

In [37]:
iterator = row.iterrows()

next(iterator)
iterator.send("gay")

(1,
 id                    78
 sold               False
 changed            False
 tree_id                1
 childrenMissing       48
 number               124
 userName               4
 child1               250
 child1Value            7
 child2               248
 child2Value            7
 value                 14
 row                    6
 grow_to                0
 x                   0.25
 Name: 1, dtype: object)

In [43]:
from more_itertools import spy, peekable
iterator = row.iterrows()


(current, nexte), iterator = spy(iterator, 2)

(current, nexte)

((0,
  id                    79
  sold               False
  changed            False
  tree_id                1
  childrenMissing       48
  number               126
  userName               4
  child1               254
  child1Value            7
  child2               252
  child2Value            7
  value                 14
  row                    6
  grow_to                0
  x                    0.5
  Name: 0, dtype: object),
 (1,
  id                    78
  sold               False
  changed            False
  tree_id                1
  childrenMissing       48
  number               124
  userName               4
  child1               250
  child1Value            7
  child2               248
  child2Value            7
  value                 14
  row                    6
  grow_to                0
  x                   0.25
  Name: 1, dtype: object))

In [14]:
mario

2

In [145]:
iterator = row.iterrows()
start_node = next(iterator)[1]
eat_until = None
for h_index, next_node in iterator:   
    if next_node.userName ==  start_node.userName:
        eat_until = h_index
    else:
        start_node.grow_to = getX(row[eat_until].number)
row

,id,sold,changed,tree_id,childrenMissing,number,userName,child1,child1Value,child2,child2Value,value,row,grow_to,x
h_index,,,,,,,,,,,,,,,
0,79,False,False,1,48,126,4,254,7,252,7,14,6,0,0.50000
1,78,False,False,1,48,124,4,250,7,248,7,14,6,0,0.25000
2,77,False,False,1,48,122,4,246,7,244,7,14,6,0,0.37500
3,76,False,False,1,48,120,4,242,7,240,7,14,6,0,0.12500
4,75,False,False,1,48,118,4,238,7,236,7,14,6,0,0.43750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,123,False,False,1,48,119,4,237,7,239,7,14,6,0,0.89062
60,124,False,False,1,56,121,4,241,3,243,3,6,6,0,0.92188
61,125,False,False,1,51,123,4,245,4,247,7,11,6,0,0.95312
62,126,False,False,1,52,125,4,249,7,251,3,10,6,0,0.98438
63,127,False,False,1,56,127,4,253,3,255,3,6,6,0,0.24219

In [34]:
def get_row_index(number):
    row = findRow(number)
    
def insert_row_index(func):
    def wrapper(nodeNumber):

        
        row = func(nodeNumber)
        if nodeNumber == 1:
            smaller_even_numbers = 0
            smaller_odd_numbers = 0 

        if nodeNumber % 2 == 1:
            #all even numbers are considered smaller
            smaller_even_numbers = row["limits"]["even_limits"][0] / 2
            smaller_odd_numbers = ( nodeNumber - row["limits"]["odd_limits"][0] )/2
        else:
            smaller_even_numbers = (row["limits"]["even_limits"][1] - nodeNumber)/2
            smaller_odd_numbers = 0 
    

        
  
        row["h_index"] = int(smaller_odd_numbers + smaller_even_numbers ) 
        return row
    return wrapper 
@insert_row_index
def findRow(nodeNumber, startNode =1):
    #potential infinite loop D:
    if nodeNumber == startNode:
        return {"rowNumber":0, "limits": {"even_limits": None, "odd_limits": None}, "size":1,"index" : 0}

    if startNode == 1:

        rowNumber  = 1
        limits = [2, 3]
        nodes_in_row = 2
        even_limits = [2,2]
        odd_limits = [3,3]
        while not (nodeNumber >limits[0]/2 and nodeNumber <= limits[1]):
            limits = [limits[0] *2 +2, limits[1] * 2 +1]
            even_limits = [int(limits [0]/2) + 1, limits[0]]
            odd_limits = [int(limits[0]/2) +2, limits[1]]       
            rowNumber +=1
            nodes_in_row = int(limits[1]- limits[0]/2)
        #return rowNumber, [even_limits, odd_limits], 
        row = {
            "rowNumber":rowNumber, 
            "limits": {
                "even_limits": even_limits, 
                "odd_limits": odd_limits},
            "size":limits[1] - limits[0]+1,
            "index": nodeNumber - 1
        }
        return row
    if startNode % 2 == 1:
        rowNumber  = 1
        index = 0
        limits = [startNode*2 -1, startNode *2 +1]
        
        while not (nodeNumber >=limits[0] and nodeNumber <= limits[1]):
            rowNumber +=1
            index += (limits[0]+1)/2 -1            
            limits[0] = limits[0] * 2 -1
            limits[1] = limits [1] *2 +1
        middle = limits[0] + (limits[1]-limits[0])/2        
        if nodeNumber < middle:
            index += middle - nodeNumber            
        if nodeNumber > middle:
            index +=  nodeNumber - middle +1
        row = {
            "rowNumber":rowNumber, 
            "limits": limits,
            "size":(limits[1] - limits[0])/2+1,
            "index": index
        }
        return row
    if startNode % 2 == 0:       
        rowNumber  = 1
        index = 0
        limits = [startNode*2 +2, startNode *2]
        while not (nodeNumber >=limits[1] and nodeNumber <= limits[0]):
            rowNumber +=1
            index += limits[1]/2            
            limits[0] = limits[0] * 2 +2
            limits[1] = limits [1] *2 
        middle = limits[0] - ((limits[0] - limits[1])/2)          
        if nodeNumber < middle:
            index += middle - nodeNumber +1         
        if nodeNumber > middle:
            index +=  nodeNumber - middle
        row = {
            "rowNumber":rowNumber, 
            "limits": limits,
            "size":(limits[1] - limits[0])/2+1,
            "index": index
        }
        return row

findRow(10)

{'rowNumber': 3,
 'limits': {'even_limits': [8, 14], 'odd_limits': [9, 15]},
 'size': 2,
 'index': 9,
 'h_index': 2}

In [27]:
findRow(10)

{'rowNumber': 3,
 'limits': {'even_limits': [8, 14], 'odd_limits': [9, 15]},
 'size': 2,
 'index': 9,
 'h_index': 2.0}

In [38]:
from tree.utilities import findRow
findRow(14)

{'rowNumber': 3,
 'limits': {'even_limits': [8, 14], 'odd_limits': [9, 15]},
 'size': 2,
 'index': 13}

0.21094

In [38]:
from tree.utilities import nodeGenerator
try:     
    id = Node.objects.all().order_by("-id").first().id + 1 
except:
    id = 1

from tree.utilities import childOf, nodeGenerator, getIndex

def getFirstFreeNode(startNode, id, tree_id, user, nodeSet):
    for node in nodeGenerator(startNode):
        if node not in nodeSet.index:
            generator = nodeGenerator(node)
            next(generator)
            #### flawed if there are multiple trees
            row = {
                'id': id,
                'sold':False,
                'changed':True,
                'tree_id': tree_id, # should be a varaiable
                'childrenMissing': 62,
                'userName': user,##fix this
                'child1': next(generator),
                'child1Value': 0,
                'child2':next(generator),
                'child2Value': 0,
                'value': 299,    
                }
            nodeSet.loc[node] = row
            return nodeSet.loc[node]
id+=1
getFirstFreeNode(startNode = 6,id= id, tree_id = 1, user = 1, nodeSet = nodeSet)

id                 15769
sold               False
changed             True
tree_id                1
childrenMissing       62
userName               1
child1             28678
child1Value            0
child2             28676
child2Value            0
value                299
Name: 14338, dtype: object

In [34]:
nodeSet

,id,sold,changed,tree_id,childrenMissing,userName,child1,child1Value,child2,child2Value,value
number,,,,,,,,,,,
1,2,False,False,1,0,3,2,5151,3,10110,15261
2,3,False,False,1,0,3,6,2047,4,3103,5150
3,34,False,False,1,0,3,5,3102,7,7007,10109
4,4,False,False,1,0,3,10,1055,8,2047,3102
5,35,False,False,1,0,3,9,2047,11,1054,3101
...,...,...,...,...,...,...,...,...,...,...,...
4146157,15769,False,True,1,62,1,8292313,0,8292315,0,299
4146163,15769,False,True,1,62,1,8292325,0,8292327,0,299
4146155,15769,False,True,1,62,1,8292309,0,8292311,0,299
4146165,15769,False,True,1,62,1,8292329,0,8292331,0,299
4146153,15769,False,True,1,62,1,8292305,0,8292307,0,299

In [54]:

result = nodeSet.loc[nodeSet.tree_id == 1].index.min()   #.reset_index().min("number")
pd.isnull(result)
max(result,1)

nan

In [21]:
from tree.utilities import findParent, getX, getY
nodeSet["parent"] = nodeSet.apply(lambda node: findParent(node.name), axis = 1)
biggest_number = nodeSet.iloc[-1].name
nodeSet["x"]= nodeSet.apply(lambda node: getX(node.name), axis = 1)
nodeSet["y"]= nodeSet.apply(lambda node: getY(node.name,biggest_number), axis = 1)
nodeSet

,id,sold,changed,tree_id,childrenMissing,userName,child1,child1Value,child2,child2Value,value,parent,x,y
number,,,,,,,,,,,,,,
1,2,False,False,1,58,mario,2,0,3,4,4,NaN,0.5000,0.111111
3,3,False,False,1,59,mario,5,2,7,1,3,1.0,0.7500,0.333333
5,4,False,False,1,61,mario,9,1,11,0,1,3.0,0.6250,0.555556
7,5,False,False,1,62,mario,13,0,15,0,0,3.0,0.8750,0.777778
9,6,False,False,1,62,mario,17,0,19,0,0,5.0,0.5625,1.000000

In [19]:
nodeSet.iloc[-1].name

9

In [178]:
oldSet = Node.objects.filter(pk__in = [332])                            
oldSet.delete()

(0, {})

get the __ID__

In [3]:
id = nodeSet.id.max() + 1
#gotta test this
id = id if not np.isnan(id) else 1

__Start Node__

In [338]:
smallest = nodeSet.loc[mask1, "childrenMissing"].min()
allSmalls = nodeSet.loc[nodeSet.childrenMissing == smallest,:].copy()
allSmalls["index"] = allSmalls.apply(lambda node: getIndex(node.name, 1), axis=1)
allSmalls.sort_values("index", inplace = True)
payNode = allSmalls.iloc[0]
for node in nodeGenerator(payNode.name):
    if node not in nodeSet.index:
        generator = nodeGenerator(node)
        next(generator)
        id +=1 #### flawed if there are multiple trees
        row = {
            'id': id,
            'sold':False,
            'changed':True,
            'tree_id': 1, # should be a varaiable
            'childrenMissing': 62,
            'user_id': 1,##fix this
            'child1': next(generator),
            'child1Value': 0,
            'child2':next(generator),
            'child2Value': 0,
            'value': 299,    
            }
        nodeSet.loc[node] = row
        amount -=1
        startNode = node
        break
startNode
#find first free child

79

find easiest node to pay __findNodeToPay__

In [5]:
from tree.utilities import childOf, nodeGenerator, getIndex
#randomly picked start index
startNode = 1 # start node can only be picked but not created
nodeSet.sort_values(by = "childrenMissing", inplace =True)
mask1 = nodeSet.childrenMissing != 0
mask2 = nodeSet.apply(lambda node : childOf(startNode, node.name) , axis=1)

#mask for the user aswell
smallest = nodeSet.loc[mask1 & mask2, "childrenMissing"].min()
mask3 = nodeSet.childrenMissing == smallest
allSmalls = nodeSet.loc[mask1 & mask2 & mask3,:].copy()

allSmalls["index"] = allSmalls.apply(lambda node: getIndex(node.name, startNode), axis=1)
allSmalls.sort_values("index", inplace = True)
payNode = allSmalls.iloc[0]
payNode

id                     2
sold               False
changed            False
tree_id                1
childrenMissing       24
userName           mario
child1                 2
child1Value           20
child2                 3
child2Value           18
value                 38
index                  0
Name: 1, dtype: object

__Make Children Table__

In [6]:
# this amount is the number of nodes the user buys
targetValue = 31
# ideally each child would be eat least 31
#using copy just for testing
#children = nodeSet.loc[[payNode.child1, payNode.child2]].copy()
children = pd.DataFrame([
    [payNode.child1, payNode.child1Value],
    [payNode.child2, payNode.child2Value]],
    columns = ["number","value"])
#if child does not exist it will throw error

children["index"] = children.apply(lambda kid: getIndex(kid.number, payNode.name), axis = 1)
children["pay"] = 0
#children.sort_values("index")
children.iloc[1,-3] = 3
children.sort_values(by=["value", "index"], inplace = True) #index not necessary?
children

   number  value  index  pay
1       3      3      2    0
0       2     20      1    0

__distribute an amount__

figure out how many nodes go under each side

In [7]:
amount = 100

#equalize children

childDifference = children.iloc[1].value - children.iloc[0].value
#this might be pointless because the smaller one is always at the top
valueMissing = max(targetValue - children.iloc[0].value, 0)
pay = min(childDifference,valueMissing, amount)

amount -= pay
children.iloc[0,-1]+= pay
children.iloc[0,-3]+= pay

children.sort_values(by=["index"], inplace = True)
# attempt to reach target

valueMissing = max(targetValue - children.iloc[0].value, 0) *2
pay = min(amount, valueMissing)
amount -= pay
half = int(pay/2)
children.iloc[[0,1],[-1, -3]] += half

leftover = pay - (half*2)
children.iloc[[0],[-1, -3]] +=leftover #leftover is 1 or 0




children

   number  value  index  pay
0       2     31      1   11
1       3     31      2   28

__pick the right node numbers__

In [34]:
generator = nodeGenerator(payNode.name)
child = 0
childToggle ={0:1,1:0}
childrenStacks = [[],[]]
pay = children.pay.sum()
while pay > 0 :  
    potentialNode = next(generator)    
    if not potentialNode in nodeSet.index:        
        if len(childrenStacks[child]) < children.iloc[child,-1]:
            childrenStacks[child].append(potentialNode)
            pay -= 1 
    child = childToggle[child]   
print(childrenStacks)
childrenStacks = childrenStacks[0] + childrenStacks[1] #merge them as it doesnt matter later on in code

[[447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467], [662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716]]

__append rows__

In [117]:

for node in range(716, 100000000000):
    generator = nodeGenerator(node)
    next(generator) # skip the first one
    id +=1 #### flawed if there are multiple trees
    row = {
        'id': id,
        'sold':False,
        'changed':True,
        'tree_id': 1, # should be a varaiable
        'childrenMissing': 62,
        'user_id': 1,
        'child1': next(generator),
        'child1Value': 0,
        'child2':next(generator),
        'child2Value': 0,
        'value': 299,    
        }
    nodeSet.loc[node] = row
    
nodeSet

KeyboardInterrupt:

In [118]:
nodeSet

,id,sold,changed,tree_id,childrenMissing,userName,child1,child1Value,child2,child2Value,value
number,,,,,,,,,,,
1,2,True,False,1,0,mario,2,328,3,145,38
2,3,False,False,1,25,mario,6,6,4,320,18
3,13,True,False,1,0,mario,5,32,7,111,16
4,4,True,False,1,0,mario,10,262,8,56,10
5,14,False,False,1,32,mario,9,28,11,2,8
...,...,...,...,...,...,...,...,...,...,...,...
10535,10472,False,True,1,62,NaN,21069,0,21071,0,299
10536,10473,False,True,1,62,NaN,21074,0,21072,0,299
10537,10474,False,True,1,62,NaN,21073,0,21075,0,299
10538,10475,False,True,1,62,NaN,21078,0,21076,0,299
10539,10476,False,True,1,62,NaN,21077,0,21079,0,299

__Update Parents__

In [55]:
from tree.utilities import parentGenerator
def updateParent(parentNode, child): # nodePair["child"]
        
        if parentNode.child1 == child:
            parentNode.child1Value +=1                                         
        if parentNode.child2 ==  child:
            parentNode.child2Value +=1

        #update childrenMissing value
        #fix this to use apply()
        #nodeSet.loc[parentNode,"old] = nodeSet.loc[parentNode].apply(function)
        soldBefore = parentNode.childrenMissing == 0            
        child1Value = parentNode.child1Value           
        child1Value = child1Value if child1Value <32 else 31
        child2Value = parentNode.child2Value
        child2Value = child2Value if child2Value <32 else 31            
        parentNode.childrenMissing = 62 - child1Value - child2Value
        soldNow = parentNode.childrenMissing == 0
        if (soldNow and not soldBefore):# if the node just got sold
            parentNode.sold = True
            print(parentNode.name)
      
        return parentNode
fuck = 0    
for node in childrenStacks:    
        for nodePair in parentGenerator(node):
            fuck += 1
            #print(nodeSet.loc[nodePair["parent"],["child1Value","child2Value","childrenMissing","sold"]])
            nodeSet.loc[[nodePair["parent"]]] = nodeSet.loc[[nodePair["parent"]]].apply(updateParent,args= (nodePair["child"],),axis = 1, result_type= "expand")
            #nodeSet.loc[[nodePair["parent"]]].update(updateParent,args= (nodePair["child"],),axis = 1, result_type= "expand")
print(fuck)

3
340

In [116]:
fuck = 0  
for nodePair in parentGenerator(447):
            fuck += 1
            #print(nodeSet.loc[nodePair["parent"],["child1Value","child2Value","childrenMissing","sold"]])
            nodeSet.loc[[nodePair["parent"]]] = nodeSet.loc[[nodePair["parent"]]].apply(
                updateParent,args= (nodePair["child"],),axis = 1, result_type= "expand")
            #nodeSet.loc[[nodePair["parent"]]].update(
            #updateParent,args= (nodePair["child"],),axis = 1, result_type= "expand")
print(fuck)

8

In [135]:
def updateParents(node, origin):    
    if parentOf(node.child1,origin):
        node.child1Value +=1                                         
    else:
        node.child2Value +=1
    child1Value = min(node.child1Value,31)
    child2Value = min(node.child2Value,31)
    node.childrenMissing = 62 - child1Value - child2Value    
    return node
for child in newNodes:
    ancestors = [node["parent"] for node in parentGenerator(child)]
    
    nodeSet.loc[ancestors] = nodeSet.loc[ancestors].apply(afunction, args = [child], axis = 1)
nodeSet
#nodeSet.loc[3]

[1239, 619, 309, 155, 77, 39, 19, 9, 5, 3, 1]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [124]:
newNodes = nodeSet.iloc[-8000: -1, 0].to_list()

In [128]:
newNodes

[2477,
 2478,
 2479,
 2480,
 2481,
 2482,
 2483,
 2484,
 2485,
 2486,
 2487,
 2488,
 2489,
 2490,
 2491,
 2492,
 2493,
 2494,
 2495,
 2496,
 2497,
 2498,
 2499,
 2500,
 2501,
 2502,
 2503,
 2504,
 2505,
 2506,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2516,
 2517,
 2518,
 2519,
 2520,
 2521,
 2522,
 2523,
 2524,
 2525,
 2526,
 2527,
 2528,
 2529,
 2530,
 2531,
 2532,
 2533,
 2534,
 2535,
 2536,
 2537,
 2538,
 2539,
 2540,
 2541,
 2542,
 2543,
 2544,
 2545,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2553,
 2554,
 2555,
 2556,
 2557,
 2558,
 2559,
 2560,
 2561,
 2562,
 2563,
 2564,
 2565,
 2566,
 2567,
 2568,
 2569,
 2570,
 2571,
 2572,
 2573,
 2574,
 2575,
 2576,
 2577,
 2578,
 2579,
 2580,
 2581,
 2582,
 2583,
 2584,
 2585,
 2586,
 2587,
 2588,
 2589,
 2590,
 2591,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2656,
 2657,
 2658,
 2659,
 2660,
 2661,
 2662,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2671,
 2672,
 2673,
 2674,
 2675,
 2676,
 2677,
 2678,
 2679,
 2680,
 2681,
 2682,
 2683,
 2684,
 2685,
 2686,
 2687,
 2688,
 2689,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2704,
 2705,
 2706,
 2707,
 2708,
 2709,
 2710,
 2711,
 2712,
 2713,
 2714,
 2715,
 2716,
 2717,
 2718,
 2719,
 2720,
 2721,
 2722,
 2723,
 2724,
 2725,
 2726,
 2727,
 2728,
 2729,
 2730,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2744,
 2745,
 2746,
 2747,
 2748,
 2749,
 2750,
 2751,
 2752,
 2753,
 2754,
 2755,
 2756,
 2757,
 2758,
 2759,
 2760,
 2761,
 2762,
 2763,
 2764,
 2765,
 2766,
 2767,
 2768,
 2769,
 2770,
 2771,
 2772,
 2773,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2791,
 2792,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2808,
 2809,
 2810,
 2811,
 2812,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2844,
 2845,
 2846,
 2847,
 2848,
 2849,
 2850,
 2851,
 2852,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2859,
 2860,
 2861,
 2862,
 2863,
 2864,
 2865,
 2866,
 2867,
 2868,
 2869,
 2870,
 2871,
 2872,
 2873,
 2874,
 2875,
 2876,
 2877,
 2878,
 2879,
 2880,
 2881,
 2882,
 2883,
 2884,
 2885,
 2886,
 2887,
 2888,
 2889,
 2890,
 2891,
 2892,
 2893,
 2894,
 2895,
 2896,
 2897,
 2898,
 2899,
 2900,
 2901,
 2902,
 2903,
 2904,
 2905,
 2906,
 2907,
 2908,
 2909,
 2910,
 2911,
 2912,
 2913,
 2914,
 2915,
 2916,
 2917,
 2918,
 2919,
 2920,
 2921,
 2922,
 2923,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2938,
 2939,
 2940,
 2941,
 2942,
 2943,
 2944,
 2945,
 2946,
 2947,
 2948,
 2949,
 2950,
 2951,
 2952,
 2953,
 2954,
 2955,
 2956,
 2957,
 2958,
 2959,
 2960,
 2961,
 2962,
 2963,
 2964,
 2965,
 2966,
 2967,
 2968,
 2969,
 2970,
 2971,
 2972,
 2973,
 2974,
 2975,
 2976,
 2977,
 2978,
 2979,
 2980,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3058,
 3059,
 3060,
 3061,
 3062,
 3063,
 3064,
 3065,
 3066,
 3067,
 3068,
 3069,
 3070,
 3071,
 3072,
 3073,
 3074,
 3075,
 3076,
 3077,
 3078,
 3079,
 3080,
 3081,
 3082,
 3083,
 3084,
 3085,
 3086,
 3087,
 3088,
 3089,
 3090,
 3091,
 3092,
 3093,
 3094,
 3095,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3103,
 3104,
 3105,
 3106,
 3107,
 3108,
 3109,
 3110,
 3111,
 3112,
 3113,
 3114,
 3115,
 3116,
 3117,
 3118,
 3119,
 3120,
 3121,
 3122,
 3123,
 3124,
 3125,
 3126,
 3127,
 3128,
 3129,
 3130,
 3131,
 3132,
 3133,
 3134,
 3135,
 3136,
 3137,
 3138,
 3139,
 3140,
 3141,
 3142,
 3143,
 3144,
 3145,
 3146,
 3147,
 3148,
 3149,
 3150,
 3151,
 3152,
 3153,
 3154,
 3155,
 3156,
 3157,
 3158,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3166,
 3167,
 3168,
 3169,
 3170,
 3171,
 3172,
 3173,
 3174,
 3175,
 3176,
 3177,
 3178,
 3179,
 3180,
 3181,
 3182,
 3183,
 3184,
 3185,
 3186,
 3187,
 3188,
 3189,
 3190,
 3191,
 3192,
 3193,
 3194,
 3195,
 3196,
 3197,
 3198,
 3199,
 3200,
 3201,
 3202,
 3203,
 3204,
 3205,
 3206,
 3207,
 3208,
 3209,
 3210,
 3211,
 3212,
 3213,
 3214,
 3215,
 3216,
 3217,
 3218,
 3219,
 3220,
 3221,
 3222,
 3223,
 3224,
 3225,
 3226,
 3227,
 3228,
 3229,
 3230,
 3231,
 3232,
 3233,
 3234,
 3235,
 3236,
 3237,
 3238,
 3239,
 3240,
 3241,
 3242,
 3243,
 3244,
 3245,
 3246,
 3247,
 3248,
 3249,
 3250,
 3251,
 3252,
 3253,
 3254,
 3255,
 3256,
 3257,
 3258,
 3259,
 3260,
 3261,
 3262,
 3263,
 3264,
 3265,
 3266,
 3267,
 3268,
 3269,
 3270,
 3271,
 3272,
 3273,
 3274,
 3275,
 3276,
 3277,
 3278,
 3279,
 3280,
 3281,
 3282,
 3283,
 3284,
 3285,
 3286,
 3287,
 3288,
 3289,
 3290,
 3291,
 3292,
 3293,
 3294,
 3295,
 3296,
 3297,
 3298,
 3299,
 3300,
 3301,
 3302,
 3303,
 3304,
 3305,
 3306,
 3307,
 3308,
 3309,
 3310,
 3311,
 3312,
 3313,
 3314,
 3315,
 3316,
 3317,
 3318,
 3319,
 3320,
 3321,
 3322,
 3323,
 3324,
 3325,
 3326,
 3327,
 3328,
 3329,
 3330,
 3331,
 3332,
 3333,
 3334,
 3335,
 3336,
 3337,
 3338,
 3339,
 3340,
 3341,
 3342,
 3343,
 3344,
 3345,
 3346,
 3347,
 3348,
 3349,
 3350,
 3351,
 3352,
 3353,
 3354,
 3355,
 3356,
 3357,
 3358,
 3359,
 3360,
 3361,
 3362,
 3363,
 3364,
 3365,
 3366,
 3367,
 3368,
 3369,
 3370,
 3371,
 3372,
 3373,
 3374,
 3375,
 3376,
 3377,
 3378,
 3379,
 3380,
 3381,
 3382,
 3383,
 3384,
 3385,
 3386,
 3387,
 3388,
 3389,
 3390,
 3391,
 3392,
 3393,
 3394,
 3395,
 3396,
 3397,
 3398,
 3399,
 3400,
 3401,
 3402,
 3403,
 3404,
 3405,
 3406,
 3407,
 3408,
 3409,
 3410,
 3411,
 3412,
 3413,
 3414,
 3415,
 3416,
 3417,
 3418,
 3419,
 3420,
 3421,
 3422,
 3423,
 3424,
 3425,
 3426,
 3427,
 3428,
 3429,
 3430,
 3431,
 3432,
 3433,
 3434,
 3435,
 3436,
 3437,
 3438,
 3439,
 3440,
 3441,
 3442,
 3443,
 3444,
 3445,
 3446,
 3447,
 3448,
 3449,
 3450,
 3451,
 3452,
 3453,
 3454,
 3455,
 3456,
 3457,
 3458,
 3459,
 3460,
 3461,
 3462,
 3463,
 3464,
 3465,
 3466,
 3467,
 3468,
 3469,
 3470,
 3471,
 3472,
 3473,
 3474,
 3475,
 3476,
 ...]

In [88]:
def parentOf(parent,node):
    if parent == node:
        return True
    for node in parentGenerator(node):
        if node["parent"] == parent:
            return True
    return False

parentOf(445,447)

False

In [139]:
ancestors

[1239, 619, 309, 155, 77, 39, 19, 9, 5, 3, 1]

In [141]:
nodeSet.loc[619]

KeyError: 619

In [562]:
def updateParent(parentNode, child): # nodePair["child"]
    #informs the parents their child is sold
    if parentNode.child1 == child:
        parentNode.child1Value +=1                                         
    if parentNode.child2 ==  child:
        parentNode.child2Value +=1
    soldBefore = parentNode.childrenMissing == 0            
    child1Value = parentNode.child1Value  
    #print(parentNode.child1Value)
    child1Value = child1Value if child1Value <32 else 31
    child2Value = parentNode.child2Value
    child2Value = child2Value if child2Value <32 else 31            
    parentNode.childrenMissing = 62 - child1Value - child2Value
    soldNow = parentNode.childrenMissing == 0
    if (soldNow and not soldBefore):# if the node just got sold
        parentNode.sold = True
        print(parentNode.name)   
    #print(parentNode[["child1Value","child2Value","childrenMissing","sold"]])
    return parentNode[["child1Value","child2Value","childrenMissing","sold"]].to_list()

for node in childrenStacks:    
        for nodePair in parentGenerator(node):
            
            #print(nodeSet.loc[nodePair["parent"],["child1Value","child2Value","childrenMissing","sold"]])
            parentNode = nodeSet.loc[nodePair["parent"]].copy() 
            #very very slow
            nodeSet.loc[nodePair["parent"],["child1Value","child2Value","childrenMissing","sold"]]=updateParent(parentNode, nodePair["child"])

5

In [564]:
for node in childrenStacks:    
        for nodePair in parentGenerator(node):
            parentNode = nodeSet.loc[nodePair["parent"]]    
                       #informs the parents their child is sold
            if parentNode.child1 == child:
                parentNode.child1Value +=1                                         
            if parentNode.child2 ==  child:
                parentNode.child2Value +=1
            soldBefore = parentNode.childrenMissing == 0            
            child1Value = parentNode.child1Value  
            #print(parentNode.child1Value)
            child1Value = child1Value if child1Value <32 else 31
            child2Value = parentNode.child2Value
            child2Value = child2Value if child2Value <32 else 31            
            parentNode.childrenMissing = 62 - child1Value - child2Value
            soldNow = parentNode.childrenMissing == 0
            if (soldNow and not soldBefore):# if the node just got sold
                parentNode.sold = True
                print(parentNode.name)   
            #print(parentNode[["child1Value","child2Value","childrenMissing","sold"]])

C:\Users\Robert\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [546]:
nodeSet.loc[nodeSet.sold == True]

,id,sold,changed,tree_id,childrenMissing,user_id,child1,child1Value,child2,child2Value,value
number,,,,,,,,,,,
5,6,True,False,1,0,3,9,302,11,110,117
33,34,True,False,1,0,3,65,140,67,155,0
67,547,True,True,1,0,1,133,75,135,75,299
133,548,True,True,1,0,1,265,35,267,35,299
135,549,True,True,1,0,1,269,35,271,35,299
65,578,True,True,1,0,1,129,60,131,75,299
131,579,True,True,1,0,1,261,35,263,35,299

In [536]:
nodeSet

,id,sold,changed,tree_id,childrenMissing,user_id,child1,child1Value,child2,child2Value,value
number,,,,,,,,,,,
1,2,False,False,1,0,3,2,63,3,236,299
2,3,False,False,1,0,3,6,31,4,31,62
3,4,False,False,1,0,3,5,118,7,117,235
4,5,False,False,1,32,3,10,15,8,15,30
5,6,False,False,1,24,3,9,7,11,110,117
...,...,...,...,...,...,...,...,...,...,...,...
1039,601,False,True,1,62,1,2077,0,2079,0,299
1037,602,False,True,1,62,1,2073,0,2075,0,299
1035,603,False,True,1,62,1,2069,0,2071,0,299
1033,604,False,True,1,62,1,2065,0,2067,0,299
1031,605,False,True,1,62,1,2061,0,2063,0,299

In [414]:
type(nodeSet.loc[1,["id", "child1"]])

pandas.core.series.Series

In [419]:
def someFunction(node):
    print (node)

In [424]:
mario = nodeSet.loc[1]
mario

id                               2
sold                         False
changed                      False
tree_id                          1
childrenMissing                  0
user_id                          3
child1             696969669696969
child1Value                     63
child2                           3
child2Value                   1120
value                          299
Name: 1, dtype: object

In [411]:
nodeSet.loc[1].id

2

In [193]:
mario = nodeSet.loc[
    nodeSet.changed==True,
    [
        "id",
        "tree_id",
        "childrenMissing",
        "user_id",
        "child1",
        "child1Value",
        "child2",
        "child2Value"
    ]].reset_index().copy()
#mario.apply(lambda node: print(node))
#mario.drop(mario[:5].index, inplace = True)
#mario.iloc[:5]
#mario.to_dict(orient="record" )[0]
mario.to_dict(orient="record" )[0]

{'number': 79,
 'id': 311,
 'tree_id': 1,
 'childrenMissing': 62,
 'user_id': 1,
 'child1': 157,
 'child1Value': 0,
 'child2': 159,
 'child2Value': 0}

In [241]:
sold = nodeSet.loc[nodeSet.sold == True,["sold","user_id"]]
sold

        sold user_id
number
5       True       3
79      True       1
159     True       1
317     True       1
157     True       1
315     True       1

In [246]:
sold.groupby("user_id").count()

         sold
user_id
1           5
3           1

In [248]:
sold.groupby("user_id").count().reset_index().to_dict(orient="record" )

[{'user_id': 1, 'sold': 5}, {'user_id': 3, 'sold': 1}]

In [5]:
nodeSet.loc[1,"sold"] = True
nodeSet.loc[2,"sold"] = True
nodeSet.loc[63,"sold"] = True
nodeSet

,id,sold,changed,tree_id,childrenMissing,userName,child1,child1Value,child2,child2Value,value
number,,,,,,,,,,,
1,2,True,False,1,0,3,2,31,3,130,161
2,3,True,False,1,32,3,6,15,4,15,30
3,34,False,False,1,16,3,5,15,7,114,129
4,4,False,False,1,48,3,10,7,8,7,14
5,35,False,False,1,48,3,9,7,11,7,14
...,...,...,...,...,...,...,...,...,...,...,...
4059,162,False,False,1,62,1,8117,0,8119,0,0
4061,161,False,False,1,62,1,8121,0,8123,0,0
4063,160,False,False,1,62,1,8125,0,8127,0,0
4065,163,False,False,1,62,1,8129,0,8131,0,0
4067,164,False,False,1,62,1,8133,0,8135,0,0

In [11]:
sold = nodeSet.loc[nodeSet.sold == True,["sold","userName"]].groupby("userName").count().copy()
sold = sold.reset_index().to_dict(orient="record" )

sold = [{item["userName"]:item["sold"] for item in sold}]
sold

C:\Users\Robert\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:1482: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

[{1: 1, 3: 2}]

In [3]:
dictionary = [{'userName': 1, 'sold': 2}, {'userName': 3, 'sold': 1}]

In [611]:
nodeSet.loc[:,["userName","child1","child1Value","child2","child2Value","childrenMissing"]].reset_index().to_json(orient="records")

'[{"number":1,"userName":"mario3","child1":2,"child1Value":63,"child2":3,"child2Value":236,"childrenMissing":0},{"number":2,"userName":"mario3","child1":6,"child1Value":31,"child2":4,"child2Value":31,"childrenMissing":0},{"number":3,"userName":"mario3","child1":5,"child1Value":118,"child2":7,"child2Value":117,"childrenMissing":0},{"number":4,"userName":"mario3","child1":10,"child1Value":15,"child2":8,"child2Value":15,"childrenMissing":32},{"number":5,"userName":"mario3","child1":9,"child1Value":7,"child2":11,"child2Value":110,"childrenMissing":24},{"number":6,"userName":"mario3","child1":14,"child1Value":15,"child2":12,"child2Value":15,"childrenMissing":32},{"number":7,"userName":"mario3","child1":13,"child1Value":109,"child2":15,"child2Value":7,"childrenMissing":24},{"number":8,"userName":"mario3","child1":18,"child1Value":7,"child2":16,"child2Value":7,"childrenMissing":48},{"number":9,"userName":"mario3","child1":17,"child1Value":3,"child2":19,"child2Value":3,"childrenMissing":56},{"number":10,"userName":"mario3","child1":22,"child1Value":7,"child2":20,"child2Value":7,"childrenMissing":48},{"number":11,"userName":"mario3","child1":21,"child1Value":3,"child2":23,"child2Value":106,"childrenMissing":28},{"number":12,"userName":"mario3","child1":26,"child1Value":7,"child2":24,"child2Value":7,"childrenMissing":48},{"number":13,"userName":"mario3","child1":25,"child1Value":105,"child2":27,"child2Value":3,"childrenMissing":28},{"number":14,"userName":"mario3","child1":30,"child1Value":7,"child2":28,"child2Value":7,"childrenMissing":48},{"number":15,"userName":"mario3","child1":29,"child1Value":3,"child2":31,"child2Value":3,"childrenMissing":56},{"number":16,"userName":"mario3","child1":34,"child1Value":3,"child2":32,"child2Value":3,"childrenMissing":56},{"number":17,"userName":"mario3","child1":33,"child1Value":1,"child2":35,"child2Value":1,"childrenMissing":60},{"number":18,"userName":"mario3","child1":38,"child1Value":3,"child2":36,"child2Value":3,"childrenMissing":56},{"number":19,"userName":"mario3","child1":37,"child1Value":1,"child2":39,"child2Value":1,"childrenMissing":60},{"number":20,"userName":"mario3","child1":42,"child1Value":3,"child2":40,"child2Value":3,"childrenMissing":56},{"number":21,"userName":"mario3","child1":41,"child1Value":1,"child2":43,"child2Value":1,"childrenMissing":60},{"number":22,"userName":"mario3","child1":46,"child1Value":3,"child2":44,"child2Value":3,"childrenMissing":56},{"number":23,"userName":"mario3","child1":45,"child1Value":102,"child2":47,"child2Value":3,"childrenMissing":28},{"number":24,"userName":"mario3","child1":50,"child1Value":3,"child2":48,"child2Value":3,"childrenMissing":56},{"number":25,"userName":"mario3","child1":49,"child1Value":3,"child2":51,"child2Value":101,"childrenMissing":28},{"number":26,"userName":"mario3","child1":54,"child1Value":3,"child2":52,"child2Value":3,"childrenMissing":56},{"number":27,"userName":"mario3","child1":53,"child1Value":1,"child2":55,"child2Value":1,"childrenMissing":60},{"number":28,"userName":"mario3","child1":58,"child1Value":3,"child2":56,"child2Value":3,"childrenMissing":56},{"number":29,"userName":"mario3","child1":57,"child1Value":1,"child2":59,"child2Value":1,"childrenMissing":60},{"number":30,"userName":"mario3","child1":62,"child1Value":3,"child2":60,"child2Value":3,"childrenMissing":56},{"number":31,"userName":"mario3","child1":61,"child1Value":1,"child2":63,"child2Value":1,"childrenMissing":60},{"number":32,"userName":"mario3","child1":66,"child1Value":1,"child2":64,"child2Value":1,"childrenMissing":60},{"number":33,"userName":"mario3","child1":65,"child1Value":0,"child2":67,"child2Value":0,"childrenMissing":62},{"number":34,"userName":"mario3","child1":70,"child1Value":1,"child2":68,"child2Value":1,"childrenMissing":60},{"number":35,"userName":"mario3","child1":69,"child1Value":0,"child2":71,"child2Value":0,"childrenMissing":62},{"number":36,"userName":"mario3","child1":74,"child1Value":1,"child2":72,"child2Value":1,"childrenMissing":60},{"number":37,"userName":"mario3","child1":73,"child1Value":0,"child2":75,"child2Value":0,"childrenMissing":62},{"number":38,"userName":"mario3","child1":78,"child1Value":1,"child2":76,"child2Value":1,"childrenMissing":60},{"number":39,"userName":"mario3","child1":77,"child1Value":0,"child2":79,"child2Value":0,"childrenMissing":62},{"number":40,"userName":"mario3","child1":82,"child1Value":1,"child2":80,"child2Value":1,"childrenMissing":60},{"number":41,"userName":"mario3","child1":81,"child1Value":0,"child2":83,"child2Value":0,"childrenMissing":62},{"number":42,"userName":"mario3","child1":86,"child1Value":1,"child2":84,"child2Value":1,"childrenMissing":60},{"number":43,"userName":"mario3","child1":85,"child1Value":0,"child2":87,"child2Value":0,"childrenMissing":62},{"number":44,"userName":"mario3","child1":90,"child1Value":1,"child2":88,"child2Value":1,"childrenMissing":60},{"number":45,"userName":"mario3","child1":89,"child1Value":100,"child2":91,"child2Value":1,"childrenMissing":30},{"number":46,"userName":"mario3","child1":94,"child1Value":1,"child2":92,"child2Value":1,"childrenMissing":60},{"number":47,"userName":"mario3","child1":93,"child1Value":1,"child2":95,"child2Value":1,"childrenMissing":60},{"number":48,"userName":"mario3","child1":98,"child1Value":1,"child2":96,"child2Value":1,"childrenMissing":60},{"number":49,"userName":"mario3","child1":97,"child1Value":1,"child2":99,"child2Value":1,"childrenMissing":60},{"number":50,"userName":"mario3","child1":102,"child1Value":1,"child2":100,"child2Value":1,"childrenMissing":60},{"number":51,"userName":"mario3","child1":101,"child1Value":100,"child2":103,"child2Value":0,"childrenMissing":31},{"number":52,"userName":"mario3","child1":106,"child1Value":1,"child2":104,"child2Value":1,"childrenMissing":60},{"number":53,"userName":"mario3","child1":105,"child1Value":0,"child2":107,"child2Value":0,"childrenMissing":62},{"number":54,"userName":"mario3","child1":110,"child1Value":1,"child2":108,"child2Value":1,"childrenMissing":60},{"number":55,"userName":"mario3","child1":109,"child1Value":0,"child2":111,"child2Value":0,"childrenMissing":62},{"number":56,"userName":"mario3","child1":114,"child1Value":1,"child2":112,"child2Value":1,"childrenMissing":60},{"number":57,"userName":"mario3","child1":113,"child1Value":0,"child2":115,"child2Value":0,"childrenMissing":62},{"number":58,"userName":"mario3","child1":118,"child1Value":1,"child2":116,"child2Value":1,"childrenMissing":60},{"number":59,"userName":"mario3","child1":117,"child1Value":0,"child2":119,"child2Value":0,"childrenMissing":62},{"number":60,"userName":"mario3","child1":122,"child1Value":1,"child2":120,"child2Value":1,"childrenMissing":60},{"number":61,"userName":"mario3","child1":121,"child1Value":0,"child2":123,"child2Value":0,"childrenMissing":62},{"number":62,"userName":"mario3","child1":126,"child1Value":1,"child2":124,"child2Value":1,"childrenMissing":60},{"number":63,"userName":"mario3","child1":125,"child1Value":0,"child2":127,"child2Value":0,"childrenMissing":62},{"number":96,"userName":"mario3","child1":194,"child1Value":0,"child2":192,"child2Value":0,"childrenMissing":62},{"number":94,"userName":"mario3","child1":190,"child1Value":0,"child2":188,"child2Value":0,"childrenMissing":62},{"number":98,"userName":"mario3","child1":198,"child1Value":0,"child2":196,"child2Value":0,"childrenMissing":62},{"number":92,"userName":"mario3","child1":186,"child1Value":0,"child2":184,"child2Value":0,"childrenMissing":62},{"number":100,"userName":"mario3","child1":202,"child1Value":0,"child2":200,"child2Value":0,"childrenMissing":62},{"number":90,"userName":"mario3","child1":182,"child1Value":0,"child2":180,"child2Value":0,"childrenMissing":62},{"number":102,"userName":"mario3","child1":206,"child1Value":0,"child2":204,"child2Value":0,"childrenMissing":62},{"number":88,"userName":"mario3","child1":178,"child1Value":0,"child2":176,"child2Value":0,"childrenMissing":62},{"number":104,"userName":"mario3","child1":210,"child1Value":0,"child2":208,"child2Value":0,"childrenMissing":62},{"number":86,"userName":"mario3","child1":174,"child1Value":0,"child2":172,"child2Value":0,"childrenMissing":62},{"number":106,"userName":"mario3","child1":214,"child1Value":0,"child2":212,"child2Value":0,"childrenMissing":62},{"number":84,"userName":"mario3","child1":170,"child1Value":0,"child2":168,"child2Value":0,"childrenMissing":62},{"number":108,"userName":"mario3","child1":218,"child1Value":0,"child2":216,"child2Value":0,"childrenMissing":62},{"number":82,"userName":"mario3","child1":166,"child1Value":0,"child2":164,"child2Value":0,"childrenMissing":62},{"number":110,"userName":"mario3","child1":222,"child1Value":0,"child2":220,"child2Value":0,"childrenMissing":62},{"number":80,"userName":"mario3","child1":162,"child1Value":0,"child2":160,"child2Value":0,"childrenMissing":62},{"number":112,"userName":"mario3","child1":226,"child1Value":0,"child2":224,"child2Value":0,"childrenMissing":62},{"number":78,"userName":"mario3","child1":158,"child1Value":0,"child2":156,"child2Value":0,"childrenMissing":62},{"number":114,"userName":"mario3","child1":230,"child1Value":0,"child2":228,"child2Value":0,"childrenMissing":62},{"number":76,"userName":"mario3","child1":154,"child1Value":0,"child2":152,"child2Value":0,"childrenMissing":62},{"number":116,"userName":"mario3","child1":234,"child1Value":0,"child2":232,"child2Value":0,"childrenMissing":62},{"number":74,"userName":"mario3","child1":150,"child1Value":0,"child2":148,"child2Value":0,"childrenMissing":62},{"number":118,"userName":"mario3","child1":238,"child1Value":0,"child2":236,"child2Value":0,"childrenMissing":62},{"number":72,"userName":"mario3","child1":146,"child1Value":0,"child2":144,"child2Value":0,"childrenMissing":62},{"number":120,"userName":"mario3","child1":242,"child1Value":0,"child2":240,"child2Value":0,"childrenMissing":62},{"number":70,"userName":"mario3","child1":142,"child1Value":0,"child2":140,"child2Value":0,"childrenMissing":62},{"number":122,"userName":"mario3","child1":246,"child1Value":0,"child2":244,"child2Value":0,"childrenMissing":62},{"number":68,"userName":"mario3","child1":138,"child1Value":0,"child2":136,"child2Value":0,"childrenMissing":62},{"number":124,"userName":"mario3","child1":250,"child1Value":0,"child2":248,"child2Value":0,"childrenMissing":62},{"number":66,"userName":"mario3","child1":134,"child1Value":0,"child2":132,"child2Value":0,"childrenMissing":62},{"number":126,"userName":"mario3","child1":254,"child1Value":0,"child2":252,"child2Value":0,"childrenMissing":62},{"number":64,"userName":"mario3","child1":130,"child1Value":0,"child2":128,"child2Value":0,"childrenMissing":62},{"number":95,"userName":"mario3","child1":189,"child1Value":0,"child2":191,"child2Value":0,"childrenMissing":62},{"number":97,"userName":"mario3","child1":193,"child1Value":0,"child2":195,"child2Value":0,"childrenMissing":62},{"number":93,"userName":"mario3","child1":185,"child1Value":0,"child2":187,"child2Value":0,"childrenMissing":62},{"number":99,"userName":"mario3","child1":197,"child1Value":0,"child2":199,"child2Value":0,"childrenMissing":62},{"number":91,"userName":"mario3","child1":181,"child1Value":0,"child2":183,"child2Value":0,"childrenMissing":62},{"number":101,"userName":"lksjdf","child1":201,"child1Value":63,"child2":203,"child2Value":36,"childrenMissing":0},{"number":201,"userName":"lksjdf","child1":401,"child1Value":31,"child2":403,"child2Value":31,"childrenMissing":0},{"number":203,"userName":"lksjdf","child1":405,"child1Value":18,"child2":407,"child2Value":17,"childrenMissing":27},{"number":403,"userName":"lksjdf","child1":805,"child1Value":15,"child2":807,"child2Value":15,"childrenMissing":32},{"number":405,"userName":"lksjdf","child1":809,"child1Value":7,"child2":811,"child2Value":10,"childrenMissing":45},{"number":401,"userName":"lksjdf","child1":801,"child1Value":15,"child2":803,"child2Value":15,"childrenMissing":32},{"number":407,"userName":"lksjdf","child1":813,"child1Value":9,"child2":815,"child2Value":7,"childrenMissing":46},{"number":807,"userName":"lksjdf","child1":1613,"child1Value":7,"child2":1615,"child2Value":7,"childrenMissing":48},{"number":809,"userName":"lksjdf","child1":1617,"child1Value":3,"child2":1619,"child2Value":3,"childrenMissing":56},{"number":805,"userName":"lksjdf","child1":1609,"child1Value":7,"child2":1611,"child2Value":7,"childrenMissing":48},{"number":811,"userName":"lksjdf","child1":1621,"child1Value":3,"child2":1623,"child2Value":6,"childrenMissing":53},{"number":803,"userName":"lksjdf","child1":1605,"child1Value":7,"child2":1607,"child2Value":7,"childrenMissing":48},{"number":813,"userName":"lksjdf","child1":1625,"child1Value":5,"child2":1627,"child2Value":3,"childrenMissing":54},{"number":801,"userName":"lksjdf","child1":1601,"child1Value":7,"child2":1603,"child2Value":7,"childrenMissing":48},{"number":815,"userName":"lksjdf","child1":1629,"child1Value":3,"child2":1631,"child2Value":3,"childrenMissing":56},{"number":1615,"userName":"lksjdf","child1":3229,"child1Value":3,"child2":3231,"child2Value":3,"childrenMissing":56},{"number":1617,"userName":"lksjdf","child1":3233,"child1Value":1,"child2":3235,"child2Value":1,"childrenMissing":60},{"number":1613,"userName":"lksjdf","child1":3225,"child1Value":3,"child2":3227,"child2Value":3,"childrenMissing":56},{"number":1619,"userName":"lksjdf","child1":3237,"child1Value":1,"child2":3239,"child2Value":1,"childrenMissing":60},{"number":1611,"userName":"lksjdf","child1":3221,"child1Value":3,"child2":3223,"child2Value":3,"childrenMissing":56},{"number":1621,"userName":"lksjdf","child1":3241,"child1Value":1,"child2":3243,"child2Value":1,"childrenMissing":60},{"number":1609,"userName":"lksjdf","child1":3217,"child1Value":3,"child2":3219,"child2Value":3,"childrenMissing":56},{"number":1623,"userName":"lksjdf","child1":3245,"child1Value":2,"child2":3247,"child2Value":3,"childrenMissing":57},{"number":1607,"userName":"lksjdf","child1":3213,"child1Value":3,"child2":3215,"child2Value":3,"childrenMissing":56},{"number":1625,"userName":"lksjdf","child1":3249,"child1Value":3,"child2":3251,"child2Value":1,"childrenMissing":58},{"number":1605,"userName":"lksjdf","child1":3209,"child1Value":3,"child2":3211,"child2Value":3,"childrenMissing":56},{"number":1627,"userName":"lksjdf","child1":3253,"child1Value":1,"child2":3255,"child2Value":1,"childrenMissing":60},{"number":1603,"userName":"lksjdf","child1":3205,"child1Value":3,"child2":3207,"child2Value":3,"childrenMissing":56},{"number":1629,"userName":"lksjdf","child1":3257,"child1Value":1,"child2":3259,"child2Value":1,"childrenMissing":60},{"number":1601,"userName":"lksjdf","child1":3201,"child1Value":3,"child2":3203,"child2Value":3,"childrenMissing":56},{"number":1631,"userName":"lksjdf","child1":3261,"child1Value":1,"child2":3263,"child2Value":1,"childrenMissing":60},{"number":3231,"userName":"lksjdf","child1":6461,"child1Value":1,"child2":6463,"child2Value":1,"childrenMissing":60},{"number":3233,"userName":"lksjdf","child1":6465,"child1Value":0,"child2":6467,"child2Value":0,"childrenMissing":62},{"number":3229,"userName":"lksjdf","child1":6457,"child1Value":1,"child2":6459,"child2Value":1,"childrenMissing":60},{"number":3235,"userName":"lksjdf","child1":6469,"child1Value":0,"child2":6471,"child2Value":0,"childrenMissing":62},{"number":3227,"userName":"lksjdf","child1":6453,"child1Value":1,"child2":6455,"child2Value":1,"childrenMissing":60},{"number":3237,"userName":"lksjdf","child1":6473,"child1Value":0,"child2":6475,"child2Value":0,"childrenMissing":62},{"number":3225,"userName":"lksjdf","child1":6449,"child1Value":1,"child2":6451,"child2Value":1,"childrenMissing":60},{"number":3239,"userName":"lksjdf","child1":6477,"child1Value":0,"child2":6479,"child2Value":0,"childrenMissing":62},{"number":3223,"userName":"lksjdf","child1":6445,"child1Value":1,"child2":6447,"child2Value":1,"childrenMissing":60},{"number":3241,"userName":"lksjdf","child1":6481,"child1Value":0,"child2":6483,"child2Value":0,"childrenMissing":62},{"number":3221,"userName":"lksjdf","child1":6441,"child1Value":1,"child2":6443,"child2Value":1,"childrenMissing":60},{"number":3243,"userName":"lksjdf","child1":6485,"child1Value":0,"child2":6487,"child2Value":0,"childrenMissing":62},{"number":3219,"userName":"lksjdf","child1":6437,"child1Value":1,"child2":6439,"child2Value":1,"childrenMissing":60},{"number":3245,"userName":"lksjdf","child1":6489,"child1Value":0,"child2":6491,"child2Value":1,"childrenMissing":61},{"number":3217,"userName":"lksjdf","child1":6433,"child1Value":1,"child2":6435,"child2Value":1,"childrenMissing":60},{"number":3247,"userName":"lksjdf","child1":6493,"child1Value":1,"child2":6495,"child2Value":1,"childrenMissing":60},{"number":3215,"userName":"lksjdf","child1":6429,"child1Value":1,"child2":6431,"child2Value":1,"childrenMissing":60},{"number":3249,"userName":"lksjdf","child1":6497,"child1Value":1,"child2":6499,"child2Value":1,"childrenMissing":60},{"number":3213,"userName":"lksjdf","child1":6425,"child1Value":1,"child2":6427,"child2Value":1,"childrenMissing":60},{"number":3251,"userName":"lksjdf","child1":6501,"child1Value":0,"child2":6503,"child2Value":0,"childrenMissing":62},{"number":3211,"userName":"lksjdf","child1":6421,"child1Value":1,"child2":6423,"child2Value":1,"childrenMissing":60},{"number":3253,"userName":"lksjdf","child1":6505,"child1Value":0,"child2":6507,"child2Value":0,"childrenMissing":62},{"number":3209,"userName":"lksjdf","child1":6417,"child1Value":1,"child2":6419,"child2Value":1,"childrenMissing":60},{"number":3255,"userName":"lksjdf","child1":6509,"child1Value":0,"child2":6511,"child2Value":0,"childrenMissing":62},{"number":3207,"userName":"lksjdf","child1":6413,"child1Value":1,"child2":6415,"child2Value":1,"childrenMissing":60},{"number":3257,"userName":"lksjdf","child1":6513,"child1Value":0,"child2":6515,"child2Value":0,"childrenMissing":62},{"number":3205,"userName":"lksjdf","child1":6409,"child1Value":1,"child2":6411,"child2Value":1,"childrenMissing":60},{"number":3259,"userName":"lksjdf","child1":6517,"child1Value":0,"child2":6519,"child2Value":0,"childrenMissing":62},{"number":3203,"userName":"lksjdf","child1":6405,"child1Value":1,"child2":6407,"child2Value":1,"childrenMissing":60},{"number":3261,"userName":"lksjdf","child1":6521,"child1Value":0,"child2":6523,"child2Value":0,"childrenMissing":62},{"number":3201,"userName":"lksjdf","child1":6401,"child1Value":1,"child2":6403,"child2Value":1,"childrenMissing":60},{"number":3263,"userName":"lksjdf","child1":6525,"child1Value":0,"child2":6527,"child2Value":0,"childrenMissing":62},{"number":6431,"userName":"lksjdf","child1":12861,"child1Value":0,"child2":12863,"child2Value":0,"childrenMissing":62},{"number":6433,"userName":"lksjdf","child1":12865,"child1Value":0,"child2":12867,"child2Value":0,"childrenMissing":62},{"number":6429,"userName":"lksjdf","child1":12857,"child1Value":0,"child2":12859,"child2Value":0,"childrenMissing":62},{"number":6435,"userName":"lksjdf","child1":12869,"child1Value":0,"child2":12871,"child2Value":0,"childrenMissing":62},{"number":6427,"userName":"lksjdf","child1":12853,"child1Value":0,"child2":12855,"child2Value":0,"childrenMissing":62},{"number":6437,"userName":"lksjdf","child1":12873,"child1Value":0,"child2":12875,"child2Value":0,"childrenMissing":62},{"number":6425,"userName":"lksjdf","child1":12849,"child1Value":0,"child2":12851,"child2Value":0,"childrenMissing":62},{"number":6439,"userName":"lksjdf","child1":12877,"child1Value":0,"child2":12879,"child2Value":0,"childrenMissing":62},{"number":6423,"userName":"lksjdf","child1":12845,"child1Value":0,"child2":12847,"child2Value":0,"childrenMissing":62},{"number":6441,"userName":"lksjdf","child1":12881,"child1Value":0,"child2":12883,"child2Value":0,"childrenMissing":62},{"number":6421,"userName":"lksjdf","child1":12841,"child1Value":0,"child2":12843,"child2Value":0,"childrenMissing":62},{"number":6443,"userName":"lksjdf","child1":12885,"child1Value":0,"child2":12887,"child2Value":0,"childrenMissing

In [587]:
from django.contrib.auth.models import User
users = User.objects.only("username","id").values()
comprehensiveUsers = {user["id"]:user["username"] for user in users}
comprehensiveUsers

{1: 'mario', 2: 'lksjdf', 3: 'mario3'}

In [7]:
import json
data = []
data.append(json.loads(tree.json_string))
json.dumps(data)

'[[{"number": 1, "userName": "mario", "child1": 2, "child1Value": 5, "child2": 3, "child2Value": "", "childrenMissing": 53, "parent": null, "x": 0.5, "y": 0.0454545455}, {"number": 2, "userName": "mario", "child1": 6, "child1Value": 0, "child2": 4, "child2Value": 4, "childrenMissing": 58, "parent": 1.0, "x": 0.25, "y": 0.0909090909}, {"number": 3, "userName": "mario", "child1": 5, "child1Value": 2, "child2": 7, "child2Value": 1, "childrenMissing": 59, "parent": 1.0, "x": 0.75, "y": 0.1363636364}, {"number": 4, "userName": "mario", "child1": 10, "child1Value": 2, "child2": 8, "child2Value": 1, "childrenMissing": 59, "parent": 2.0, "x": 0.375, "y": 0.1818181818}, {"number": 5, "userName": "mario", "child1": 9, "child1Value": 1, "child2": 11, "child2Value": 0, "childrenMissing": 61, "parent": 3.0, "x": 0.625, "y": 0.2272727273}, {"number": 7, "userName": "mario", "child1": 13, "child1Value": 0, "child2": 15, "child2Value": 0, "childrenMissing": 62, "parent": 3.0, "x": 0.875, "y": 0.3181818182}, {"number": 8, "userName": "mario", "child1": 18, "child1Value": 0, "child2": 16, "child2Value": 0, "childrenMissing": 62, "parent": 4.0, "x": 0.4375, "y": 0.3636363636}, {"number": 9, "userName": "mario", "child1": 17, "child1Value": 0, "child2": 19, "child2Value": 0, "childrenMissing": 62, "parent": 5.0, "x": 0.5625, "y": 0.4090909091}, {"number": 10, "userName": "mario", "child1": 22, "child1Value": 1, "child2": 20, "child2Value": 0, "childrenMissing": 61, "parent": 4.0, "x": 0.3125, "y": 0.4545454545}, {"number": 22, "userName": "mario", "child1": 46, "child1Value": 0, "child2": 44, "child2Value": 0, "childrenMissing": 62, "parent": 10.0, "x": 0.28125, "y": 1.0}]]'

In [3]:
from tree.utilities import getIndex
getIndex(12,6)

13.0

2.0